---
layout: archive
title: People
permalink: /people/



sidebar:
  - title: "Contact"
    text: "
          <a href=\"#members\" style=\"text-decoration:none;\"> Lab Members </a> <br />
          <a href=\"#alumni\" style=\"text-decoration:none;\"> Lab Alumni </a> <br />
          <a href=\"http://github.com/Sha-lab\" style=\"text-decoration:none;\"><i class=\"fa fa-fw fa-envelope\" aria-hidden=\"true\"></i> feisha@usc.edu</a>
          <br /><br />
          <b> Michelson Hall, Room 407 </b> <br> 1002 Childs Way <br> University of Southern California <br> Los Angeles, CA 90089
          <br /><br />
          <a href=\"http://github.com/Sha-lab\" style=\"text-decoration:none;\"><i class=\"fa fa-fw fa-github\" aria-hidden=\"true\"></i> GitHub</a>
          <a href=\"https://twitter.com/ShaLabUSC\" style=\"text-decoration:none;\"><i class=\"fa fa-fw fa-twitter-square\" aria-hidden=\"true\"></i> Twitter</a>
          "

intro:
  - excerpt: ""

---

<h2><a id="#members">Lab Members</a></h2> <br>

<div class="grid__wrapper">
  {% for author in site.data.authors %}
      <div class="grid__item">
        <div style="max-height: 240px" class="archive__item-teaser">
            <a href="{{author.uri}}">
              <img src=
                {% if author.avatar contains "://" %}
                  "{{ author.avatar }}"
                {% else %}
                  "{{ author.avatar | absolute_url }}"
                {% endif %}
                 alt="{{ author.name }}">
            </a>
        </div>
          <h2 class="archive__item-title" itemprop="headline">
            {% if author.name %}
              <a href="{{ author.uri }}">{{ author.name }}</a> <a href="{{ author.uri | absolute_url }}" rel="permalink" target="_blank"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
            {% else %}
              <a href="{{ author.uri | absolute_url }}" rel="permalink" target="_blank">{{ author.name }}</a>
            {% endif %}
          </h2>
          {% if author.bio %}<p class="archive__item-excerpt" itemprop="description">{{ author.bio | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
    </div>
  {% endfor %}

</div>

{% include feature_row id="intro" type="center" %}



<h2><a id="#alumni">Lab Alumni</a></h2>

<p class="small"> <b> <font size="4"> <a href="http://lamda.nju.edu.cn/yehj/?AspxAutoDetectCookieSupport=1"> <font color="#9D2235">Han-Jia Ye</font> </a> </font> </b> <br> <font size="3"> Visiting PhD Student, 2017 - 2018 </font> </p>
<p class="small"> <b> <font size="4"> <a href="https://sites.google.com/site/chiangchaokai/"> <font color="#9D2235">Chao-Kai Chiang</font> </a> </font> </b> <br> <font size="3"> Postdoc, 2016 - 2018 </font> </p>
<p class="small"> <b> <font size="4"> <a href="http://www-scf.usc.edu/~weilunc/"> <font color="#9D2235">Wei-Lun (Harry) Chao</font> </a> </font> </b> <br> <font size="3"> PhD, 2013 - 2018 <b>&nbsp;→&nbsp;</b> Postdoc @ Cornell </font> </p>
<p class="small"> <b> <font size="4"> <a href="http://www-scf.usc.edu/~schangpi/"> <font color="#9D2235">Soravit (Beer) Changpinyo</font> </a> </font> </b> <br> <font size="3"> PhD, 2012 - 2018 <b>&nbsp;→&nbsp;</b> Software Engineer @ Google AI </font> </p>
<p class="small"> <b> <font size="4"> <a href="https://voidrank.github.io/"> <font color="#9D2235">Shiyi Lan</font> </a> </font> </b> <br> <font size="3"> Undergrad, Summer 2017 <b>&nbsp;→&nbsp;</b> PhD Student @ University of Maryland </font> </p>
<p class="small"> <b> <font size="4"> <a href="http://boqinggong.info/"> <font color="#9D2235">Boqing Gong</font> </a> </font> </b> <br> <font size="3"> PhD, 2011 - 2015 <b>&nbsp;→&nbsp;</b> Principal Research Scientist @ Tencent AI Lab </font> </p>
<p class="small"> <b> <font size="4"> <a href="http://researchers.lille.inria.fr/abellet/"> <font color="#9D2235">Aurélien Bellet</font> </a> </font> </b> <br> <font size="3"> Postdoc, 2013 - 2014 <b>&nbsp;→&nbsp;</b> Tenured Researcher @ INRIA Lille </font> </p>
<p class="small"> <b> <font size="4"> <a href="https://ziw.mit.edu/"> <font color="#9D2235">Zi Wang</font> </a> </font> </b> <br> <font size="3"> Undergrad, 2013 - 2014 <b>&nbsp;→&nbsp;</b> PhD Candidate @ MIT </font> </p>
<p class="small"> <b> <font size="4"> <a href="https://www.linkedin.com/in/meihong/"> <font color="#9D2235">Meihong Wang</font> </a> </font> </b> <br> <font size="3"> MS, 2009 - 2011 <b>&nbsp;→&nbsp;</b> Engineering Director @ Facebook </font> </p>
