---
layout: single
title: Publications
permalink: /publications/
---

TODO: Only lists blog posts for now.

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for pub in site.pubs %}
  {% capture year %}{{ pub.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  * {{pub.title}}
  {% include archive-single.html %}
{% endfor %}


{% for pub in site.pubs %}
  * {{pub.title}}
{% endfor %}
